ul {
    /*list-style-type:circle;
    list-style-image: url(icon.png);
    */
    list-style-type: none;
    padding: 0;
    border: 1px solid grey;
}
ul li{
    padding: 8px  16px;
    border-bottom: 1px solid grey;
}
ol{
    list-style-type: upper-roman;

}

ol{
    list-style-type: lower-alpha;
}
/*
td, th{
    border: 1px solid #eee;
    padding: 15px;
}
tbody tr:nth-child(add){
 background-color: #ff33cc;

}
tbody tr:nth-child(even){
    background-color: #ee49e4;
}
div{
    overflow:scroll;
    background-color: #f27979;
    width: 200px;
    height: 200px;
}    */

table{
    border-collapse: collapse;
    width: 10px;
}
th, td{
    text-align: left;
    padding: 10px;

}
tr:nth-child(even){
    background-color: #eae2e2;
}


    

    


